<% layout("/layouts/boilerplate") %>
  <link rel="stylesheet" href="/public/css/review.css">
  <script>
   const mapToken = "<%= process.env.API_KEY_MAP_TILER %>";
const listing = <%- JSON.stringify(listingAll) %>;

  </script>

  <body>
    <div class="row mt-3">
      <div class="col-8 offset-2">

        <h3>
          <%= listingAll.title %>
        </h3>
      </div>

      <div class="card col-6 offset-2">
        <img src="<%= listingAll.image.url %>" class="card-img-top show-img" alt="...">
        <div class="card-body">
          <p class="card-text">
            <i>
              Owned by :<%= listingAll.owner.username %>
            </i>
          </p>
          <p class="card-text">
            <%= listingAll.title %>
          </p>

          <p class="card-text">
            <%= listingAll.description %>
          </p>

          <p class="card-text">&#8377;<%= listingAll.price%>
          </p>

          <p class="card-text">
            <%= listingAll.location %>
          </p>

          <p class="card-text">
            <%= listingAll.country %>
          </p>



          </p>
        </div>
      </div>
      <% if( currUser && currUser._id.equals(listingAll.owner._id)) { %>
        <div class="row">
          <div class="col-1 offset-2">
            <form method="GET" action="/listings/<%= listingAll._id %>/edit"> <button
                class=" btn show-btn">Edit</button>
            </form>
          </div>
          <div class="col-1 offset-1 mb-3">
            <form method="POST" action="/listings/<%= listingAll._id%>?_method=DELETE"><button
                class="btn">Delete</button>
            </form>
          </div>
        </div>
        <% } %>

          <div class="col-8 offset-2 mb-3">
            <hr />
            <% if(currUser) { %>
              <h4>Leave a Review</h4>
              <form method="POST" action="/listings/<%= listingAll._id %>/reviews" novalidate class="needs-validation">
                <div class="mb-3 mt3">
                  <div class="mb-3 mt3">
                    <label for="rating">Rating!</label>
                    <fieldset class="starability-slot">
                      <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked
                        aria-label="No rating." />
                      <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                      <label for="first-rate1" title="Terrible">1 star</label>
                      <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                      <label for="first-rate2" title="Not good">2 stars</label>
                      <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                      <label for="first-rate3" title="Average">3 stars</label>
                      <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                      <label for="first-rate4" title="Very good">4 stars</label>
                      <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                      <label for="first-rate5" title="Amazing">5 stars</label>
                    </fieldset>
                  </div>
                  <div class="mb-3 mt3">
                    <label for="comment">Comment</label>
                    <textarea name="review[comment]" id="comment" cols="30" row="10" class="form-control"
                      required></textarea>
                    <div class="invalid-feedback">Please add some comments for review!</div>
                  </div>
                </div>
                <button type="submit" class="btn show-btn mt-3">Submit</button>
              </form>

              <% } %>

                <% if(listingAll.reviews.length> 0) { %>
                  <div class="row">
                    <p><b>All Reviews</b></p>
                    <% for(review of listingAll.reviews) { %>
                      <div class="review-card col-5 ms-3 mb-3">
                        <div class="card-body">
                          <div class="card-title">@<%= review.author.username %>
                          </div>
                          <p class="starability-result card-text" data-rating="<%= review.rating %>">
                          </p>
                          <p class="card-text">
                            <%= review.comment %>
                          </p>
                          <p class="card-text">
                            <%= review.rating %> star

                          </p>
                        </div>
                        <form class="mb-3" method="POST"
                          action="/listings/<%= listingAll._id %>/reviews/<%= review._id %>?_method=DELETE">
                          <button class="btn show-btn mt-3">Delete</button>
                        </form>
                      </div>
                      <% } %>
                  </div>
          </div>
    </div>
    <% } %>
      </div>


      <div class="col-8 offset-2 mb-3">
        <h3>Where you'll be</h3>
        <div id="map" style="height: 400px; width: 100%; border-radius: 10px;">
        </div>
      </div>
      </div>
   <script src="/js/map.js">

   </script>
  </body>